:root {
  --background: linear-gradient(#4b1a83, #301152);
  --light-purple: #8659b9;
  --dark-purple: #301152;
  --yellow: #f7d231;
  --red: #ec1459;
  --white: #eee5f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}

body {
  background-image: var(--background);
}

/* Game Page */
.game {
  opacity: 0;
  background-image: var(--background);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  pointer-events: none;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.title {
  font-size: 6rem;
  text-align: center;
  color: var(--white);
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.gameboard {
  min-width: 30vw;
  min-height: 50vh;
  display: grid;
  background-color: var(--light-purple);
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(150px, 1fr));
  border-radius: 10px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-purple);
  margin: 5px;
  border-radius: 5px;
  font-size: 7rem;
  text-align: center;
  font-weight: 500;
}

/* Intro */ 

.intro {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.intro h1 {
  font-size: 8rem;
}

.yellow {
  color: var(--yellow);
}

.red {
  color: var(--red);
}

.white {
  color: var(--white);
}

.intro button {
  font-size: 2.5rem;
  padding: 8px 16px;
  background-color: var(--white);
  color: var(--dark-purple);
  border: none;
  box-shadow: 0 10px var(--dark-purple);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: 0 5px #210a3a;
  transform: translateY(2px);
}